:root {
    font-family: cursive;
}

form div {
    padding: 10px;
}

header {
    padding-bottom: 6%;
}

a.converter {
    text-decoration: blue wavy underline;
    font-size: larger;
    padding-left: 5%;
    padding-bottom: 4%;
}

#leftmost {
    padding-left: 0;
}

div.test-1 {
    display: block;
    width: 200px;
}

div.form-input {
    padding: 0px;
    padding-top: 5px;
    

}

div.form-input > *{
    width: 15em;
    height: 25px;

}

div.answer {
    margin-top: 20px;
    padding-left: 1em;
}

div.answer-board {
    width: 75vw;
    display: flex;
    align-items: baseline;
    gap: 10px;
    

}

div.answer-board p {
    justify-content: flex-start;
    font-size: 40px;
    margin: 0;
}

div.answer-board p.value{
    font-weight: bold;
}

div.answer-board p.answerResult {
    color: red;
}

div.answer-board p.unit {
    font-size: 15px;
    
}



p.answer-title {
    text-decoration: underline;
}

.convert-button {
    padding-top: 30px;
}

button {
    font-size: 20;
    width: 7.5em;
    font-family: cursive;

}

#reset-button {
    margin-top: 10px;
    margin-left: 3em;
    margin-bottom: 5em;
}

.converter {
    font-weight: bold;
}